<div class="container">
  <mat-card>
    <form [formGroup]="filePatentForm">
      <mat-card-title> File Your Patent </mat-card-title>
      <mat-card-content>Patent name</mat-card-content>
      <mat-form-field appearance="outline" class="example-full-width">
        <!-- <mat-label>Patent Name</mat-label> -->
        <input matInput formControlName="name" [value]="data.name" />
      </mat-form-field>
      <mat-card-content>Patent description</mat-card-content>
      <mat-form-field appearance="outline" class="example-full-width">
        <textarea matInput formControlName="description" [matTextareaAutosize]="true" [matAutosizeMinRows]="5"
          [matAutosizeMaxRows]="5"></textarea>
      </mat-form-field>
    </form>
    <div class="buttons">
      <mat-form-field appearance="fill" class="columns blue-text">
        <mat-label  class="hint-text" *ngIf="selectedFile; else newFile">{{
          selectedFile.item(0).name
          }}</mat-label>
        <ng-template #newFile>
          <mat-label class="hint-text">Choose file</mat-label>
        </ng-template>
        <input matInput disabled />
        <button mat-icon-button matTooltip="Attach File" [matTooltipPosition]="'above'" matSuffix
          (click)="fileInput.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
        <input hidden (change)="selectFile($event)" [accept]="['.pdf']" #fileInput type="file" id="file" />
        <!-- <button
        *ngIf="!isUploading"
        mat-icon-button
        matSuffix
        matTooltip="Upload"
        [matTooltipPosition]="'above'"
        [disabled]="fileSelected"
        (click)="uploadFile()"
      >
        <mat-icon>file_upload</mat-icon>
      </button> -->
        <button *ngIf="isUploading === 'uploading'" mat-icon-button matSuffix disabled>
          <mat-spinner diameter="15"></mat-spinner>
        </button>
      </mat-form-field>

      <button class="upload-button" *ngIf="!isUploading" type="button" [disabled]="fileSelected" (click)="uploadFile()"
        mat-flat-button matSuffix>Upload Patent <mat-icon>cloud_upload</mat-icon></button>

      <mat-card-actions *ngIf="isUploading === 'uploaded'">
        <button mat-stroked-button (click)="filePatent()" [disabled]="patentFiling">
          File Patent
        </button>
      </mat-card-actions>
    </div>

  </mat-card>
</div>

<!-- [accept]="FileFormatAccept.DocumentFile" -->