<mat-card>
  <mat-card-header class="mt-2">
    <mat-card-title>Patent You Transferred ({{ Patents.length }})</mat-card-title>
    <mat-card-subtitle
      >The Patents You transferred will be displayed here</mat-card-subtitle
    >
  </mat-card-header>
</mat-card>
<div class="loader">
  <mat-spinner [diameter]="40" *ngIf="dataIsLoading"></mat-spinner>
</div>
<div class="mt-3">
  <app-dropdown-list
    [dataSource]="Patents"
    [userAccount]="account"
    [listMode]="'transfered'"
  ></app-dropdown-list>
</div>
