<h1 mat-dialog-title>
  Hi want to {{ data.mode === "share" ? "Share" : "Transfer" }} patent
</h1>
<div mat-dialog-content>
  <p>Whom do you like to {{ data.mode === "share" ? "share" : "transfer" }} Patent {{ data.tokenID }}</p>
  <mat-form-field>
    <mat-label>To Address</mat-label>
    <input matInput [(ngModel)]="data.toAddress" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Send</button>
</div>
