/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* background-color: #0d0d0d; */
  background-color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.snackbar-style {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

.snackbar-style .mat-simple-snackbar-action {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

.snackbar-error-style {
  color: #cc0000 !important;
  background-color: #ffcccc !important;
  border-color: #cc0000 !important;
}

.snackbar-error-style .mat-simple-snackbar-action {
  color: #cc0000 !important;
  background-color: #ffcccc !important;
  border-color: #cc0000 !important;
}

.object-fit-contain {
  object-fit: contain !important;
}

.flex-and-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sec-text {
  font-family: "ubuntu";
  font-style: normal;
  font-size: 20px;
  margin: 0px;
  line-height: 24px;
  color: #000;
}
