<mat-card>
  <mat-card-header>
    <mat-card-title>Your Profile</mat-card-title>
    <mat-card-subtitle>My Wallet Address : {{ account }}</mat-card-subtitle>
    <mat-card-subtitle>My Ether Balance : {{ balance }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Your Patent {{ Patents.length }}</mat-card-title>
    <mat-card-subtitle>The Patents You Own will be displayed</mat-card-subtitle>
  </mat-card-header>
  <div class="loader">
    <mat-spinner [diameter]="40" *ngIf="dataIsLoading"></mat-spinner>
  </div>
  <app-dropdown-list
    [dataSource]="Patents"
    [userAccount]="account"
  ></app-dropdown-list>
</mat-card>
