.mat-form-field + .mat-form-field {
  margin-right: 8px;
  margin-left: 8px;
}
.mat-card {
    border-radius: 0px;
}

.loader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}